DeltaChat cannot parse Structured Email ( SML ). Need to provide input to upcoming IETF Standard.

This standard can contribute DeltaChat's core functionality.  There is the opportunity to refine the email standard to better suit DeltaChat.

https://youtu.be/F4GcWGFee50?t=536
Most Recent Email Working Group Meeting.


https://datatracker.ietf.org/group/sml/about/
Charter for Working Group
Today, the content of many email messages is not manually written by users but generated by software. Those messages often have a transactional nature, such as notifications, confirmations, or receipts. Based on templates, their content typically follows a certain structure, even if written in natural language.

Solutions like the Sieve filtering language [[RFC5228](https://datatracker.ietf.org/doc/rfc5228/)] leverage such patterns in email structure, allowing users to deal with their emails in a more useful and efficient way. More recently, approaches to annotate text-based information on the Web with a machine-readable variant (e.g., SchemaOrgWeb) have been applied in the email domain (e.g., email markup). While some major vendors support this approach, adoption is still rather low and vendor implementations differ in various aspects.

The Structured Email (SML) working group will develop standards track specifications for:

annotating human-readable email content with a machine-readable version, to allow for more reliable and accurate content analysis and processing; and

recommendations for security and trust mechanisms that should be applied when processing machine-readable content in email messages.

It may also opt to publish a document illustrating and explaining relevant use cases.

RDF/[Schema.org](http://schema.org/) will be the foundation for this work, since it is already used by vendors. The working group will specify how to use RDF/[Schema.org](http://schema.org/) in email messages to annotate email content.

Vendors currently embed RDF/[Schema.org](http://schema.org/) data in a script tag within the text/html MIME body part. The working group needs to decide if this practice will be adopted, or if structured data should be added as a dedicated MIME part.

This might be determined for both, the case that the machine-readable version is intended to be a partial representation of the human-readable content (similar to multipart-related) and for the case of providing a full representation (multipart/alternative).

Hence, machine-readable data might essentially be added to a message by using MIME body parts. Different from conventional MIME body parts such as images, email clients will need additional specification about how to deal with this data, since it is intended for automated processing.

Towards this end, the working group needs to discuss:

Which RDF encoding to use in which part of email messages

The usage and sharing of RDF vocabulary for actual annotation

How email clients should handle scenarios such as replying, forwarding, or embedded messages

Extensions (e.g., to email message formats [[RFC5322](https://datatracker.ietf.org/doc/rfc5322/),[RFC2045](https://datatracker.ietf.org/doc/rfc2045/)] or IMAP flags [[RFC9051](https://datatracker.ietf.org/doc/rfc9051/)]) that enable tools to efficiently determine if a message or parts of it are machine-readable

Security and trust recommendations to prevent abuse of structured email

Structured email should leverage capabilities of the Internet Message Format [[RFC5322](https://datatracker.ietf.org/doc/rfc5322/)] and ensure downwards-compatibility with legacy email clients. Users must still be able to consume email content, even if a machine-readable variant exists in parallel.

The following points are out of scope for the working group:

Modeling RDF vocabulary for particular use cases or domains. Exceptions might only be made for vocabulary directly related to the email domain itself. If required, such work should be carried out in cooperation with appropriate bodies such as the [Schema.org](http://schema.org/) W3C Community Group.

The specification will not define how email recipient systems will use structured data once extracted from email messages. Specifications such as adding support for structured email to the Sieve language could however be addressed by a rechartering, once initial work has been finished.

The working group aims to coordinate efforts with at least these related groups as required:

Active IETF working groups that deal with most of the IETF’s email activities

The [Schema.org](http://schema.org/) W3C Community Group (Schema.orgCG)

M3AAWG (in particular its Dynamic Email Security SIG)

> This standard can contribute DeltaChat's core functionality. There is the opportunity to refine the email standard to better suit DeltaChat.
> 
> https://youtu.be/F4GcWGFee50?t=536 Most Recent Email Working Group Meeting.
> 
> https://datatracker.ietf.org/group/sml/about/ Charter for Working Group Today, the content of many email messages is not manually written by users but generated by software. Those messages often have a transactional nature, such as notifications, confirmations, or receipts. Based on templates, their content typically follows a certain structure, even if written in natural language.


Thanks for relaying this information about ongoing work here.  Apart from @link2xt 's comments, i also left one on the youtube-video. 

One key question that i could not determine: which MUA implementors are involved in the SML work? 

Lets continue to update this issue, but close it for now. Core DC Issues indicate some agreed action which we don't have yet wrt SML. 