add support for RFC 6186 for server autoconfiguration

Many users do not know the IMAP/SMTP servers of their email provider.

[RFC 6186, Use of SRV Records for Locating Email Submission/Access Services](https://tools.ietf.org/html/rfc6186) solves this problem, by using DNS SRV records to provide this information.

I don't see RFC 6186 in [the list of supported standards by deltachat](https://github.com/deltachat/deltachat-android/blob/master/standards.md)

What about adding support for RFC 6186 for server autoconfiguration?



ftr, you can test a provider on the commandline using, eg.
```
$ dig SRV _submission._tcp.yandex.ru
$ dig SRV _submission._tcp.migadu.com  
```
this returns the settings for smtp, using _imap, _imaps, _pop3, _pop3s should return different values (thanks @link2xt on irc)

Is there any way to be sure that the answer is authentic? I mean, what if Eve sends a faked answer, stating that the imap server is eve.com?

Shall we enforce Dnssec to prevent this?

> Shall we enforce Dnssec to prevent this?

See ["Security Considerations" section](https://tools.ietf.org/html/rfc6186#section-6): "In the absence of a secure DNS option, MUAs SHOULD check that the target FQDN returned in the SRV record matches the original service domain that was queried.  If the target FQDN is not in the queried domain, MUAs SHOULD verify with the user that the SRV target FQDN is suitable for use before executing any connections to the host."

Probably just implementing this is enough, e.g. allow `mail.example.org` or `imap.example.org` for `example.org`, but not `example.net`.

@link2xt 

> allow mail.example.org or imap.example.org for example.org, but not example.net.

Björn wrote above:

> however, autoconfigure is not good at custom-domains, is that better handled by RFC 6186 ? so if you have a custom-email-address at, say gmail.com or outlook? and is it actually used by at least some providers offering custom-domains?
> 
> i'd say that would be a good reason to push that forward :)

This advantage over autoconfigure will be gone if we require it to be a subdomain.

"Security considerations" also says
> Alternatively, if TLS [RFC5246] is being used for the email service, MUAs MUST use the procedure outlined in Section 6 of [RFC6125] to verify the service.

So there is a standard procedure for verification, but I am not sure it is easy to implement and if it is actually supported by providers.


In this case it's probably better if s.o. with more network knowledge than me does this, if we decide that its worth the effort at all.

just briefly discussed with @dignifiedquire -- security-wise RFC6186 is tricky.  DNSsec is not widely deployed.  doing DNS-queries to SRV records is thus practically unsecured.  Even if you do the "result must be a subdomain of original query domain" logic you rely on DNS.  Anybody who reroutes DNS can thus honeypot user/passwords easily.  

Compare with autoconfig-xml logic we already have. In master we use TLS-strict connection to this xml file that specifies which smtp/imap servers to use. This is equivalent to what DNSSEC could provide for us (roughly).  But DNSSec isn't much deployed yet.  So for now let's close this issue as it's not an actionable item and would degrade security potentially leaking pretty sensitive info (login/password). 

> note that in master we use TLS-strict connection to the autoconfig-xml file that specifies which smtp/imap servers to use. This is equivalent to what DNSSEC could provide for us (roughly). 

This is not equivalent for email providers.

For them, the question is: what do I need to do to have autoconfiguration working in DeltaChat?

Today, the answer is "I have to install and maintain an HTTP web server somewhere".

The RFC6186 answer is "I simply add two SRV DNS records and activate DNSSEC (one click in many DNS providers)". Easy setup, no maintenance.

So, it would be great to go for the RFC6186+DNSSEC option!



 


@monperrus The problem is to make sure user has DNSSEC support. If user's resolver does not support DNSSEC, they can't automatically configure, and a fallback is needed. This fallback is an HTTPS server. But since it is needed anyway, RFC6186 does not add anything to it.

I don't know much about how DNSSEC works, is there any way we can validate DNS responses for ourselves without relying on the OS? I guess it means we have to use non-ISP resolver (we don't want to rely on any servers, so which one?) and craft our own DNS queries instead of using `getaddrinfo` API?

> The problem is to make sure user has DNSSEC support. If user's resolver does not support DNSSEC

We do not need to make sure, it's best effort. If the user has no DNSSEC, account autoconfigure would not work, that's fine. I assume that, in 2020, only a minority of users' resolvers don't support DNSSEC. 



There is https://lib.rs/crates/async-std-resolver which is a part of https://github.com/bluejekyll/trust-dns. If it can be used to handle DNSSEC for us, maybe worth a try, but I am not sure how ready it is.

For the record, here are the default rfc6186 entries one gets at a popular domain provider in Europe, [gandi](https://www.gandi.net):

```
_imap._tcp 10800 IN SRV 0 0 0   .
_imaps._tcp 10800 IN SRV 0 1 993 mail.gandi.net.
_pop3._tcp 10800 IN SRV 0 0 0   .
_pop3s._tcp 10800 IN SRV 10 1 995 mail.gandi.net.
_submission._tcp 10800 IN SRV 0 1 465 mail.gandi.net.
```